

NET "A[5]" IOSTANDARD = LVCMOS18;
NET "A[4]" IOSTANDARD = LVCMOS18;
NET "A[3]" IOSTANDARD = LVCMOS18;
NET "A[2]" IOSTANDARD = LVCMOS18;
NET "A[1]" IOSTANDARD = LVCMOS18;
NET "A[0]" IOSTANDARD = LVCMOS18;
NET "B[5]" IOSTANDARD = LVCMOS18;
NET "B[4]" IOSTANDARD = LVCMOS18;
NET "B[3]" IOSTANDARD = LVCMOS18;
NET "B[2]" IOSTANDARD = LVCMOS18;
NET "B[1]" IOSTANDARD = LVCMOS18;
NET "B[0]" IOSTANDARD = LVCMOS18;
NET "led[11]" IOSTANDARD = LVCMOS18;
NET "led[10]" IOSTANDARD = LVCMOS18;
NET "led[9]" IOSTANDARD = LVCMOS18;
NET "led[8]" IOSTANDARD = LVCMOS18;
NET "led[7]" IOSTANDARD = LVCMOS18;
NET "led[6]" IOSTANDARD = LVCMOS18;
NET "led[5]" IOSTANDARD = LVCMOS18;
NET "led[4]" IOSTANDARD = LVCMOS18;
NET "led[3]" IOSTANDARD = LVCMOS18;
NET "led[2]" IOSTANDARD = LVCMOS18;
NET "led[1]" IOSTANDARD = LVCMOS18;
NET "led[0]" IOSTANDARD = LVCMOS18;


NET "A[5]" LOC = T3;
NET "A[4]" LOC = U3;
NET "A[3]" LOC = T4;
NET "A[2]" LOC = V3;
NET "A[1]" LOC = V4;
NET "A[0]" LOC = W4;
NET "B[5]" LOC = Y4;
NET "B[4]" LOC = Y6;
NET "B[3]" LOC = W7;
NET "B[2]" LOC = Y8;
NET "B[1]" LOC = Y7;
NET "B[0]" LOC = T1;
NET "led[11]" LOC = R1;
NET "led[10]" LOC = P2;
NET "led[9]" LOC = P1;
NET "led[8]" LOC = N2;
NET "led[7]" LOC = M1;
NET "led[6]" LOC = M2;
NET "led[5]" LOC = L1;
NET "led[4]" LOC = J2;
NET "led[3]" LOC = G1;
NET "led[2]" LOC = E1;
NET "led[1]" LOC = D2;
NET "led[0]" LOC = A1;


NET "clk" PULLDOWN;
NET "reset" PULLDOWN;
NET "sw" PULLDOWN;
NET "A[5]" PULLDOWN;
NET "A[4]" PULLDOWN;
NET "A[3]" PULLDOWN;
NET "A[2]" PULLDOWN;
NET "A[1]" PULLDOWN;
NET "A[0]" PULLDOWN;
NET "B[5]" PULLDOWN;
NET "B[4]" PULLDOWN;
NET "B[3]" PULLDOWN;
NET "B[2]" PULLDOWN;
NET "B[1]" PULLDOWN;
NET "B[0]" PULLDOWN;
NET "clk" IOSTANDARD = LVCMOS18;
NET "reset" IOSTANDARD = LVCMOS18;
NET "sw" IOSTANDARD = LVCMOS18;

# PlanAhead Generated physical constraints 

NET "clk" LOC = R4;
NET "reset" LOC = AA4;
NET "sw" LOC = AB6;
